/* connecté */
.connecte{
    color: red;
}

.loginPage{
    max-width: 20rem;
    margin: auto;
    padding: 1rem;
    border-radius: 2%;
    background-color: #ffbf004a;
    text-align: center;
}

/* Home */

