
/************************* All ************************/

:root {
    --Xiketic: #03071E;
    --DarkSienna: #370617;
    --Rosewood: #6A040F;
    --DarkRed: #9D0208;
    --RossoCorsa: #D00000;
    --Vermilion: #DC2F02;
    --Persimmon: #E85D04;
    --Tangerine: #F48C06;
    --OrangeWeb: #FAA307;
    --SelectiveYellow: #FFBA08;
    --Shadow: 0 0 10px #3a3a3a88;
}

*{
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

html, body {
    font-family: 'Lato', sans-serif;
    color: var(--DarkRed);
    cursor: default;
}

h1, h2, h3, h4, h5, p, a, ul, li, th, td{
    color: var(--DarkRed);
    text-transform: capitalize;
}

h1{
    text-align: center;
}

a, a:hover{
    color: inherit !important;
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

.blockPage {
    width: 100%;
    height: 100vh;
    margin: auto;
    /* display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* background-image: url("https://picsum.photos/800/600/?blur=2"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/************************* Nav **********************/

.navbar{
    background-color: var(--Xiketic);
    opacity: 0.8;
    border-radius: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li{
    border-right: solid transparent;
    border-left: solid transparent;
    color: var(--Vermilion);
    border-top: solid 1.2px transparent;
    border-bottom: solid 1.2px transparent;
}

.navbar li:hover,
.navbar li:active {
    color: var(--Persimmon);
    background-color: rgba(255, 255, 255, 0.144);
    border-top: solid 1.2px var(--Vermilion);
    border-bottom: solid 1.2px var(--Vermilion);
    opacity: 1;
    box-shadow: var(--Shadow);
}

/************************* Home *********************/

.home{
    background-image: url("https://picsum.photos/1920/1080");
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* transform: translate();
    transition: all .5s linear; */
}


/* block-$ */

.block-effect {
    font-size: calc(8px + 6vw);
}

.block-reveal {
    --t: calc(var(--td) + var(--d));

    color: transparent;
    padding: 8px;

    position: relative;
    overflow: hidden;

    animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
    content: '';

    width: 0%;
    height: 100%;
    padding-bottom: 4px;

    position: absolute;
    top: 0;
    left: 0;

    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations block-$ */
@keyframes revealBlock {
    100% {
        color: rgb(255, 255, 255);
        text-shadow: var(--Shadow);
    }
}

@keyframes revealingIn {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes revealingOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

/* end block-$ */

/****************************** Contact ***********************/

.blockContact {
    width: 50%;
    color: var(--Persimmon);
    background-color: #fff;
    padding: 1rem;
    border-radius: 2%;
    text-align: left;
    box-shadow: var(--Shadow);
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

#contact div:nth-child(1), 
#contact div:nth-child(2){
    width: 45%;
    align-self: flex-start;
}

#contact label{
    margin-left: 1rem;
}

#contact div{
    width: 100%;
}

#contact button{
    text-align: center;
}

/****************************** Log *****************************/

.loginPage {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://picsum.photos/800/600/?blur=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.loginPage .block {
    width: 30vw;
    color: var(--Persimmon);
    background-color: #fff;
    padding: 1rem;
    border-radius: 2%;
    text-align: center;
    box-shadow: var(--Shadow);
}

.block form>div input {
    margin-bottom: 1rem;
}

.btn:not(.nav .btn) {
    border: solid 1px var(--Persimmon);
    color: var(--Persimmon) !important;
}

.btn:hover:not(.nav .btn) {
    color: var(--RossoCorsa) !important;
    background-color: var(--DarkSienna);
    box-shadow: var(--Shadow);
    border-radius: 10px;
}

/****************************** User profil ***********************/

.user {
    width: 80%;
    color: var(--Persimmon);
    background-color: #fff;
    padding: 1rem;
    border-radius: 2%;
    text-align: left;
    box-shadow: var(--Shadow);
}

#user_edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

#user_edit div:nth-child(1),
#user_edit div:nth-child(2) {
    width: 45%;
    align-self: flex-start;
}

#user_edit label {
    margin-left: 1rem;
}

#user_edit div {
    width: 100%;
}

#user_edit button {
    text-align: center;
}

/****************************** Shop Admin ***********************/

.groupe-button-option {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.groupe-button-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.add-button {
    display: flex;
    justify-content: space-around;
}

.block-category {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    background-color: rgb(225, 225, 225);
}

.shopView img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    
}

.shopAdminView{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.shopAdminView div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/****************************** Shop User ***********************/

.shopUserView {
    max-width: 60rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.shopUserView section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.produit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    height: 11rem;
    width: 11rem;
    margin: 1rem;
    text-align: center;
}

.produit img, .produit i {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
}

.produit i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produit .card-img-overlay{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffb9088f;
    color: var(--RossoCorsa);
    
}

.produit .card-img-overlay:hover {
    opacity: 1;
    backdrop-filter: blur(5px);
}

.produit .card-img-overlay h5,
.produit .card-img-overlay p {
    background-color: rgba(255, 255, 255, 0.453);
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 10px;
    border-radius: 5px;
    padding: 10px 15px 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}