/* connecté */
.connecte{
    color: red;
}

/*pour desactiver la scrollbar*/
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
/* scrollbar de mort*/

.loginPage{
    max-width: 20rem;
    margin: auto;
    padding: 1rem;
    border-radius: 2%;
    background-color: #ffbf004a;
    text-align: center;
}

/* Home */

.home{
    min-width: 100%;
    min-height: 100vh;
    background-image: url("https://picsum.photos/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* block-$ */
.block-effect {
    font-size: calc(8px + 6vw);
}

.block-reveal {
    --t: calc(var(--td) + var(--d));

    color: transparent;
    padding: 4px;

    position: relative;
    overflow: hidden;

    animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
    content: '';

    width: 0%;
    height: 100%;
    padding-bottom: 4px;

    position: absolute;
    top: 0;
    left: 0;

    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
    100% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #3a3a3a88;
    }
}

@keyframes revealingIn {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes revealingOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

/* end block-$ */