{% extends 'base.html.twig' %}

{% block title %}Boutique - Admin{% endblock %}

{% block body %}
    <h1>Administrez des pates !</h1>
    <ul>
    {% for category in categories %}
    <li><a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.name }}</a></li>

    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}


