{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="blockPage">
        <h1>Créez une nouvelle catégorie</h1>
        <div class="block-category">
            {{ include('category/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
