{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Créez un nouveau produit</h1>
    <div class="block-category">
        {{ include('product/_form.html.twig') }}
    </div>
{% endblock %}
