{{ form_start(form) }}
    {{ form_widget(form) }}
    {# <input type="checkbox" onclick="showPass()"> Afficher le mot de passe<br> #}
    <div class="groupe-button-option">
        <button class="btn btn-lg">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
