{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="loginPage">
        <h1 class="h3 mb-3 font-weight-normal">Créer votre compte</h1>

        <form method="post">

            <div class="mb-3">
                <label class="form-label" for="inputEmail">Email</label>
                <input class="form-control" type="email" name="email" id="inputEmail" class="form-control" required autofocus>

                <label class="form-label" for="inputPassword">Mot de passe</label>
                <input class="form-control" type="password" name="password" id="inputPassword" class="form-control" required>

                <label class="form-label" for="verifpass">Saisir une seconde fois le mot de passe</label><br>
                <input class="form-control" type="password" id="verifpass" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}
