{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

    <div class="blockPage loginPage">
        <div class="block">
            <h1 class="h3 mb-3 font-weight-normal">Créez votre compte</h1>

            {{ include('user/_form.html.twig') }}
        </div>
    </div>

{% endblock %}

{# {% block javascripts %}
    <script>
        function showPass() {
            var x = document.getElementById("user_password");
            //var img = document.getElementById("showPass");
            if (x.type === "password") {
                    x.type = "text";
                    //img = '<i class="fa-solid fa-eye-slash"></i>';
                } else {
                    x.type = "password";
                    //img = '<i class="fa-solid fa-eye"></i>';
                }
            }
    </script>
{% endblock %} #}